.gallery {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  place-content: space-evenly;
}

.gallery > div {
  display: inline-block;
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
}
